<!DOCTYPE html>
<html lang="en" >
    <head>
        <base href="/" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GHA Capstone</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="/style.css" />

        <script src="/lodash/index.js"></script>
        <script src="/angular/angular.js"></script>
        <script src="/angular-animate/angular-animate.js"></script>
        <script src="/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
        <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/socket.io-client/socket.io.js"></script>
        <script src="/angular-aria/angular-aria.js"></script>
        <script src="/angular-messages/angular-messages.min.js"></script>
        <script src="/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>        
        <script src="/metisMenu.min.js"></script> 
        <!-- startbootstrap theme js -->
        <script src="/sb2.js"></script>
        <!-- bootstrap is required for Start-Bootstrap themes -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <!-- testing tonic dev -->
        <script src="http://embed.tonicdev.com" data-element-id="my-element"></script>
        <!-- end tonic dev test -->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->        

        <!-- bootstrap toggle buttons -->
        <script src="/bootstrap-toggle/js/bootstrap2-toggle.min.js"></script>
        <link href="/bootstrap-toggle/css/bootstrap2-toggle.min.css" rel="stylesheet">


        <!-- zenpen test -->

        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href="/zenpen-editor/css/style.css" rel="stylesheet">
        <link href="/zenpen-editor/css/fonts.css" rel="stylesheet">

        <script src="/zenpen-editor/js/editor.js"></script>
        <!-- end zenpen -->

        <!-- angular highlight js test -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/xcode.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
        <script src="/angular-highlightjs/angular-highlightjs.js"></script>


        <!-- end angular highlight js test -->


        <!-- markdown preview -->
        <script src="/angular-markdown-preview/markdown_preview.js"></script>
        <script src="/marked/lib/marked.js"></script>
        <!-- end markdown preview -->

    </head>

    <body id="wrapper" ng-app="FullstackGeneratedApp">
        <navbar></navbar>
        <div id="main" ui-view></div>

</body>
</html>