<script type="text/javascript">		
// Initiate ZenPen
new zeditor({ wrapperField : document.querySelector('.zp1')});               	      
new zeditor({ wrapperField : document.querySelector('.zp2')});               	      

</script>
<div class="muted"> My user id: {{user._id}}</div>
<div class="alert alert-success" role="alert" ng-if="successmessage">{{successmessage}}</div>
<div class="alert alert-error" role="alert" ng-if="errormessage">{{errormessage}}</div>
<div class="col-lg-8 col-md-8 col-sm-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>
			<div class="zp1 section yin">
				<span class="muted">Note subject:</span> <span id="notesubject" contenteditable="true">	{{currentNote().subject}}</span>
			</div>
			</h3>
		</div>
	</div>

	<!-- this is not connected to back end yet .. throwing error .. please help! -->
	<!-- note, we may need to change Note model schema public/private to true/false -->
	<input id="privacy-type" name="privacy" type="checkbox" data-toggle="toggle" ><label for="privacy">Public note</label>
	<!-- end public/private section -->

	<div class="panel panel-default">
		<div class="panel-heading">
		<div class="panel-body">			
			<div class="panel panel-default">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" ng-href="#{{currentNote()._id}}" class="muted">Note details</a>
				</h4>
				<div id="{{currentNote()._id}}" class="panel-collapse collapse muted" >
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-4">Note ID: {{currentNote()._id}}</div>
							<div class="col-lg-4">Size: {{currentNote().size}} kb</div>
						</div>
						<div class="row">
							<div class="col-lg-4">Created: {{currentNote().dateCreated | date : 'short'}}</div>

							<div class="col-lg-4">Last updated: {{currentNote().lastUpdate | date : 'short'}}</div>
							<div class="col-lg-4">Trash status: {{currentNote().trash}}</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end panel heading -->
		</div>
			<!-- <div class="form-group"> -->
		<div class="panel-body">

			<div class="form-group">
<!-- 			
				<h5>Form control:</h5>
				<textarea class="form-control" id="notebody" ng-model="currentNote().body">{{currentNote().body}}</textarea> -->
<!-- 				<h5 class="muted">Note body:</h5>
				{{currentNote().body}} -->
				
				<!-- markdown preview shows below -->
				<!-- <div marked="currentNote().body" /> -->
				<!-- end mrkdown preview -->	

			</div>

			<textarea id="notebody" ng-model="currentNote().body" placeholder="{{currentNote().body}}" class="form-control" >
			</textarea>

<!-- 			<div id="notebody" text="init text" class='iiMdPreview' textarea-class="form-control" textarea-name='currentNote().body' /> -->


			<!-- the following lines are for ZENPEN -->

				<!-- <div class="zp2 section yin">      -->
					<!-- <article id="notebody" contenteditable="true" class="content"> -->
						<!-- {{currentNote().body}} -->
					<!-- </article> -->
				<!-- </div> zen pen end -->

			<!-- END ZENPEN -->
		</div><!-- end panel body -->

<!-- 			<h4>Markdown preview</h4>
			<div marked="currentNote().body">

			</div>
			<h4> A different preview field</h4>
			<div class='iiMdPreview' id="notebody" textarea-name='markdown' />
 -->
			<button class="btn btn-primary" ng-click="save()">Save Changes</button>

		<div class="panel-footer">
			<h4>Tags</h4>
			<button ng-repeat="tag in currentNote().tags" type="button" class="btn btn-outline btn-default" data-toggle="tooltip" title="Remove tag">{{tag}} <a ng-click="removeTag(currentNote()._id, tag)">x</a></button>

			<button ng-show="openTW" type="button" class="btn btn-outline btn-default" data-toggle="tooltip" title="Tag to Add">
				<form  ng-submit="addTag(currentNote()._id, tagToAdd)">
					<input ng-model="tagToAdd"></input>
				</form>
			</button>
				

			<button ng-click="openTagWindow()" type="button" class="btn btn-success btn-circle"  data-toggle="tooltip" title="Add a tag">
				<i class="fa fa-plus">
				</i>
			</button>

				<button ng-click="deleteNote(currentNote()._id)" ng-show="!currentNote().trash" type="button" class="btn btn-danger"  data-toggle="tooltip" title="Delete note">
						<i class="fa fa-minus-square"> delete note
						</i>
				</button>

				<button ng-click="restoreNote(currentNote()._id)" ng-show="currentNote().trash"type="button" class="btn btn-success"  data-toggle="tooltip" title="Restore note">
						<i class="fa fa-plus-square"> restore from trash
						</i>
				</button>

		</div>
		<hr />

		<div>

			<p>This area is just for testing. Feel free to delete or comment out.</p>
			<pre><code>console.log("click HIGHLIGHT-JS button to highlight me")</code></pre>
			<div id="parentOftestDiv">
				<div id="testdiv"> function clickHighlightJStoHighlightMe (somestuff) { console.log('I love JS'); }</div>
			</div>
			<div class="form-group">
			<button class="btn btn-default" ng-click="addPre()">Highlight-JS</button>

		</div>
		</div>
	</div>
</div>