<!-- probably some of this code could be broken out into child directives; it's messy -->

<div class="col-lg-4 col-md-4 col-sm-12" ng-controller="SidenavCtrl">
	<div class="panel panel-default">
		<div class="panel-heading">My Stuff</div>
		<div class="panel-body">
			<ul class="nav nav-pills nav-justified nav-pills-sm">
				<li class="active"><a href="#notes" data-toggle="tab">Notes</a>
				</li>
				<li><a href="#notebooks" data-toggle="tab">Notebooks</a>
				</li>
				<li><a href="#tags" data-toggle="tab">Tags</a>
				</li>
				<li><a href="#shared" data-toggle="tab">Shared</a>
				</li>
				<li class="last"><a href="#trash" data-toggle="tab"><i class="fa fa-trash-o"></i></a>
				</li>
			</ul> <!-- ./nav -->
			<div class="tab-content">
				<div class="tab-pane fade active" id="notes">
					<div class="panel panel-default">
						<div><p>Search My Notes by Text</p></div>
						<input ng-model="searchNotes" width="25" type="text" class="form-control" placeholder="Search My Notes">
						<div class="panel-heading">My Notes</div>
						<div class="panel-body">
							<div class='list-group' id="side-menu-1">
      							<a ng-click="setCurrentNote(note)"  class="list-group-item" ng-repeat="note in notes | filter:searchNotes | filter:notebook.trash === true">{{note.subject}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="notebooks">
					<div class="panel panel-default">
						<div class="panel-heading">My Notebooks</div>
						<div class="panel-body">
							<div class="list-group" id="side-menu-2">

								<div ng-repeat="notebook in getCachedNotebooks() | filter:notebook.trash === true">
									<div class="muted">Notebook ID:{{notebook._id}}</div>
									<a data-toggle="collapse" ng-href="#{{notebook._id}}" class="list-group-item" ng-click="setCurrentNotebook(notebook)">{{notebook.title}}</a>
									<div class="panel-collapse collapse" id="{{notebook._id}}">
										<div class="panel-body">
											<div class="list-group">
												<a ng-click="setCurrentNote(oneNote,notebook)" class="list-group-item" ng-repeat="oneNote in notebook.notes">{{oneNote.subject}}
												</a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="tags">
					<div class="panel panel-default">
						<div class="panel-heading">My Tags</div>
						<div class="panel-body">
							<div class="list-group" id="side-menu-3">

								<div ng-repeat="tag in tags">
									<a ng-href="#{{tag}}" data-toggle="collapse" class="list-group-item" ng-click="filters[tag] = tag">{{tag}}</a>
									<div class="panel-collapse collapse" id="{{tag}}">
										<div class="panel-body">
											<div class="list-group">
												<a ng-click="switchCurrentNote(note)" class="list-group-item" ng-repeat="note in notes | filter:filters[tag]">{{note.subject}}</a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="shared">
					<div class="panel panel-default">
						<div class="panel-heading">My Shared Notebooks</div>
						<div class="panel-body">
							<div class="list-group" id="side-menu-4">

								<div ng-repeat="sharednotebook in sharednotebooks">
									<a data-toggle="collapse" ng-href="#{{sharednotebook._id}}" class="list-group-item">{{sharednotebook.title}}</a>
									<div class="panel-collapse collapse" id="{{sharednotebook._id}}">
										<div class="panel-body">
											<div class="list-group">
												<a ng-click="setCurrentNote(oneNote,sharednotebook)" class="list-group-item" ng-repeat="oneNote in sharednotebook.notes">{{oneNote.subject}}
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="trash">
					<div class="panel panel-default">
						<div class="panel-heading">My Trash</div>
						<div class="panel-body">
							<div class="list-group" id="side-menu-5">

								<div>
									<a data-toggle="collapse" ng-href="#trash-{{notebook._id}}" class="list-group-item">Notebook</a>
									<div class="panel-collapse collapse" id="trash-{{notebook._id}}">
										<div class="panel-body">

												<input ng-model="searchNotebooks" width="25" type="text" class="form-control" placeholder="Search Notebooks in Trash">
											<div class='list-group' id="side-menu-1">
				      							<a class="list-group-item" ng-repeat="notebook in notebooks | filter:searchNotebooks | filter:notebook.trash !== true" ng-click="switchCurrentNote(oneNote,notebook)">{{notebook.title}}</a>
											</div>
										</div>
									</div>
								</div>

								<div>
									<a data-toggle="collapse" ng-href="#trashnote-{{note._id}}" class="list-group-item">Note</a>
									<div class="panel-collapse collapse" id="trashnote-{{note._id}}">
										<div class="panel-body">

												<input ng-model="searchNotes" width="25" type="text" class="form-control" placeholder="Search Notes In Trash">
											<div class='list-group' id="side-menu-1">
				      							<a class="list-group-item" ng-repeat="note in notes | filter:searchNotes | filter:notebook.trash !== true" ng-click="switchCurrentNote(note)">{{note.subject}}</a>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>







				<!-- <input width="25" type="text" placeholder="Search All Public Notes"> -->
				<!-- <input ng-model="searchNotes" width="25" type="text" placeholder="Search My Notes">

      	<a class="list-group-item" ng-repeat="note in notes | filter:searchNotes | filter:filters.tag" ng-click="switchCurrentNote(note)">{{note.subject}}</a> -->

			</div> <!-- ./tab-content -->
		</div> <!-- ./panel-body -->
	</div> 
</div> 

